In [1]:
given = input("Enter multiple numbers are separated by  commas: ")
a = given.split(", ")
special = []
not_special = []
new_dict={}
for i in a:
    s = 0
    sum = 0
    for j in range(len(i)): 

        if j == 0:
            s += int(i[j])**2
        else:
            sum += int(i[j]) 
    if s == sum:
        special.append(i)
    else:
        not_special.append(i)
new_dict["Special"] = tuple(special)
new_dict["Not Special"] = tuple(not_special)
print(new_dict)

Enter multiple numbers are separated by  commas: 3432, 59876, 346, 4538, 7999888
{'Special': ('3432', '4538'), 'Not Special': ('59876', '346', '7999888')}